.site-testimonials__heading {
    text-align: center;
    font-weight: 700;
    margin-bottom: 80px;
    font-size: 38px;
    line-height: 46px;
    color: #03101A;    
}
.site-testimonials-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
}
.site-testimonials__content {
    max-width: 260px;
    text-align: center;
}
.site-testimonials__text {
    max-width: 260px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;  
    text-align: center;
    color: #03101A;
    opacity: 0.7;    
}
.site-testimonials__img {
    max-width: 260px;
    display: flex;
    justify-content: center;
}