.site-footer {
    padding: 100px 0px;
    margin-top: 125px;
    background-color: #03101A;
}
.site-footer__div {

}
.site-footer__list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}
.site-footer__item {
}
.site-footer__hungry {
    margin: 0px;
    padding: 0px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 30.95px;
    line-height: 37px;
    color: #FFFFFF;    
}
.site-footer__text {
    max-width: 327px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.7;    
}
.site-footer__support {
    margin: 0px;
    padding: 0px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;    
}
.site-footer__Usefull {
    margin: 0px;
    padding: 0px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;    
}
.site-footer__letter {
    margin: 0px;
    padding: 0px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.site-footer__input {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 0px;
    margin-bottom: 25px;
}
.site-footer__btn {
    background-color: #1F98F0;
    color: #FFFFFF;
    border: solid #1F98F0 1px;
    padding: 10px 36px;
    margin-left: 0px;
}